 /* Fuentes personalizadas */

@font-face{
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('../fonts/FiraCode-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* CSS Grid */

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
    position: relative;
}

.grid-container *:after { 
    position: absolute;
    top: 0;
    left: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: "[descripcion]";
}


@media all and (-ms-high-contrast:none) {
    .grid-container {
        display: -ms-grid;
        -ms-grid-columns: 1fr 6fr 1fr;
        -ms-grid-rows: 1fr 6fr 1fr;
    }
}

/* CSS de los diferentes componentes*/

body{
	text-align: justify;
    font-family: 'Fira Code', monospace;
}

.lead {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.4;
}
