<a
  class="rounded-full border border-black/10 flex justify-center items-center gap-x-2 py-2 px-4 text-sm bg-black/5 hover:scale-110 hover:bg-black/10 transition"
  target="_blank"
  rel="noopener noreferrer"
  {...Astro.props}
>
  <slot />
</a>
