---
import Github from "../components/icons/Github.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Diego Berges | Desarrollador Web">
  <section class="pt-5 flex">
    <a
      href="https://www.linkedin.com/in/diegoberges/"
      title="linkedin"
      target="_blank"
      rel="noopener noreferrer preconnect"
    >
      <LinkedIn class="size-6" />
    </a>
    <a
      href="https://github.com/diegoberges"
      title="github"
      target="_blank"
      rel="noopener noreferrer preconnect"
    >
      <Github class="size-6 mx-2" />
    </a>
  </section>
  <section class="pt-5">
    <p>
      Soy <strong>
        Técnico Superior en Desarrollo de Aplicaciones Informáticas.
      </strong>
    </p>
    <p>
      Me encanta el <strong>Desarrollo Web</strong> y de <strong
        >Aplicaciones Móviles</strong
      >. Durante los 4 últimos años he trabajado como coordinador de
      Departamento Web, además de desarrollando proyectos webs para diferentes
      empresas.
    </p>
    <p>
      Actualmente, estoy trabajando en un equipo de desarrollo que trabaja con
      tecnolog&iacute;as WPF, Angular, Typescript y Net Core.
    </p>
    <p>
      Los últimos <strong>proyectos</strong> que he realizado han sido creados
      con <strong>Angular, CSS Grid y Typescript</strong>. A su vez vinculados
      con Material, Font Awesome, Ionic, entre otros.
    </p>
    <p>
      Durante este tiempo he aprendido lo importante que es mantener una buena
      relación, tanto con el cliente, como con el equipo y para ello creo que la
      profesionalidad, el respeto y la honestidad son las bases para
      conseguirlo.
    </p>
    <p>
      Cuando trabajo en un proyecto me centro en tener una buena planificación,
      escuchar al cliente y dar una gran calidad final.
    </p>
    <p>
      Soy una persona muy positiva, segura de s&iacute; misma y a la que le
      encanta trabajar en equipo.
    </p>
    <p>
      Mi objetivo es el de continuar mi desarrollo profesional como
      Desarrollador Web y Aplicaciones Móviles.
    </p>
  </section>
</Layout>
